{% extends "trunk/base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="intro">
        <h2 class="text-center">{{ trunk.name }}</h2>
        <p class="text-center">{{ trunk.sub_title }}</p>

      <form>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">inner</th>
                        <th class="text-center" colspan="2">outer</th>
                    </tr>
                </thead>
                <tbody>
                  {% regroup trunk.eye_keys.all by row as eye_rows %}
                  {% for row in eye_rows %}
                    <tr>

                      {% regroup row.list by col as eye_cols %}
                      {% for col in eye_cols %}
                        {% for eye in col.list %}
                        {% if forloop.first %}
                          <td class="text-center" colspan="{{ eye.col_size }}">
                        {% endif %}
                          {% if eye.name == "spacer" %}
                            </td>
                            <td class="text-center" colspan="{{ eye.col_size }}">
                          {% else %}
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" value="{{ eye.label }}" title="{{ eye.label }}">
                          {% endif %}
                        {% endfor %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                    <tr>
                        <td class="text-center" colspan="4"><input class="btn btn-outline-primary" id="blink_btn" type="reset" value="blink"></td>
                    </tr>
                </tbody>
            </table>
      </form>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  let input = ""
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })

  document.querySelectorAll('input.form-check-input').forEach(item => {
    item.addEventListener('click', () => {
      input += item.value
      item.disabled = true
    })
  })

  document.getElementById('blink_btn').addEventListener('click', () => {
    document.querySelectorAll('input.form-check-input').forEach(item => {
       item.disabled = false
       input = ""
       tooltipList.forEach(item => item.hide())
    })
  })

</script>
{% endblock %}
