{% extends "trunk/base.html" %}

{% block content %}
<div class="container">
    <div class="intro">
        <h2 class="text-center">{{ trunk.name }}</h2>
        <p class="text-center">eyes close and eyes close and open and eyes closed</p>
    </div>
    <div class="buttons">
      <form>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">inner</th>
                        <th class="text-center" colspan="2">outer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center" colspan="2">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="e">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="e">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="1">
                        </td>
                        <td class="text-center" colspan="2">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="a">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="4">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="r">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="c">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="n">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="1">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="l">
                        </td>
                        <td class="text-center" colspan="1">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="s">
                        </td>
                        <td class="text-center" colspan="1">&nbsp;</td>
                        <td class="text-center" colspan="1">
                          <input class="form-check-input" type="radio" data-bs-toggle="tooltip" data-bs-placement="bottom" title="w">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="4"><input class="btn btn-outline-primary" type="reset" value="blink"></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </form>
    </div>
</div>
{% endblock %}
